doctype html
html(manifest='app.appcache')
    head
        meta(charset='utf-8')
        title Gulp Boilerplate
        link(rel='stylesheet', type='text/css', href="css/style.css")

    body
        #container BLANK

    script(src='js/bundle.js', type='text/javascript')